In [1]:
#external libraries or modules  allows to use functions and objects defined in those libraries.
import pandas as pd

In [2]:
#This is the variable that will store the data read from the CSV file. 
dataset = pd.read_csv("Salary_Dataset.csv")
dataset

    YEAR OF EXPERIENCE     SALARY
0                  1.0  34567.546
1                  1.4  35571.332
2                  1.8  36575.118
3                  2.0  37578.904
4                  2.4  38582.690
5                  2.8  39586.476
6                  3.0  40590.262
7                  3.4  41594.048
8                  3.8  42597.834
9                  4.0  43601.620
10                 4.4  44605.406
11                 4.8  45609.192
12                 5.0  46612.978
13                 5.4  47616.764
14                 5.8  48620.550
15                 6.0  49624.336
16                 6.4  50628.122
17                 6.8  51631.908
18                 7.0  52635.694
19                 7.4  53639.480
20                 7.8  54643.266
21                 8.0  55647.052
22                 8.4  56650.838
23                 8.8  57654.624
24                 9.0  58658.410
25                 9.4  59662.196
26                 9.8  60665.982
27                10.0  61669.768
28                10.4  62673.554
29                10.8  63677.340
30                11.0  64681.126

In [3]:
# It is referred to as "independent" because it is often considered as the input 
independent = dataset[["YEAR OF EXPERIENCE"]]
#It is referred to as "dependent" because it is typically the output or target variable 
dependent = dataset[["SALARY"]]

In [6]:
independent

    YEAR OF EXPERIENCE
0                  1.0
1                  1.4
2                  1.8
3                  2.0
4                  2.4
5                  2.8
6                  3.0
7                  3.4
8                  3.8
9                  4.0
10                 4.4
11                 4.8
12                 5.0
13                 5.4
14                 5.8
15                 6.0
16                 6.4
17                 6.8
18                 7.0
19                 7.4
20                 7.8
21                 8.0
22                 8.4
23                 8.8
24                 9.0
25                 9.4
26                 9.8
27                10.0
28                10.4
29                10.8
30                11.0

In [7]:
dependent

       SALARY
0   34567.546
1   35571.332
2   36575.118
3   37578.904
4   38582.690
5   39586.476
6   40590.262
7   41594.048
8   42597.834
9   43601.620
10  44605.406
11  45609.192
12  46612.978
13  47616.764
14  48620.550
15  49624.336
16  50628.122
17  51631.908
18  52635.694
19  53639.480
20  54643.266
21  55647.052
22  56650.838
23  57654.624
24  58658.410
25  59662.196
26  60665.982
27  61669.768
28  62673.554
29  63677.340
30  64681.126

In [15]:
# code uses the train_test_split function from the sklearn.model_selection 
# module to split the data into training and testing sets
from sklearn.model_selection import train_test_split
# This divided into four subsets: training features (X_train), 
# testing features (X_test), training targets (Y_train), and testing targets (Y_test).
# it's set to 30%, meaning 70% of the data will be used for training.
X_train,X_test,Y_train,Y_test = train_test_split(independent, dependent, test_size= 0.30, random_state=0)

In [16]:
# To create a linear regression model and fits it to the training data.
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [18]:
weight = regressor.coef_
weight

array([[3009.24660938]])

In [19]:
bias = regressor. intercept_
bias

array([31415.03381233])

In [20]:
# to predict the dependent variable and value store in variable
Y_predict = regressor.predict(X_test)
#calculate the R-squared score
from sklearn.metrics import r2_score
#To indicates a better fit or not.
r_score = r2_score(Y_test,Y_predict)

In [21]:
r_score

0.9995111143655653

In [22]:
#defines a filename for saving purpose
import pickle
#This line defines a filename for saving the serialized model .sav commonly used for saved models
filename = "Finalized_Linear_Model.sav"

In [24]:
#To save the trained linear regression model
pickle.dump(regressor, open(filename, 'wb'))

In [27]:
#The loaded model to make predictions, opens the file and read as binary file
loaded_model = pickle.load(open("Finalized_Linear_Model.sav",'rb'))
#To make a prediction for a new input.
result = loaded_model.predict([[15]])

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [28]:
result

array([[76553.73295301]])